body {
    text-align: center;
    background-image: url("1200px-Rafting_em_Brotas.jpg") ;
    color: aliceblue;
}

nav {
    background-color: steelblue;
    padding: 30px
}

a {
    color:whitesmoke;
    margin: 10px;
    
}
img {width: fill;
    height: 200px;

}

p {padding: 10px;}

footer {background-color: steelblue;
        color: white;
}